@charset "UTF-8";

* {
margin:0;
padding:0;
}

.navbar { 
	margin : 0 !important; 
	background-color: fff;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #20212c;
}

img {
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: -1;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 22px;
    transition: all 0.3s ease;
    color: red;
}

.btn-main {
    background: linear-gradient(to right,#00e0fe, #1107fe);
    border-radius: 100px;
    border: 10px;
    font-weight: 600;
    color: #fff;
}

.btn:hover {
    color: #fff;
    transform: translateY(-5px);
}

.section-intro {
    margin-bottom: 40px;
}

.section-intro .divider {
    height: 4px;
    width: 70px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    margin: 16px auto;
}

.service .service-img {
    position: relative;
}

.navbar-brand, .nav-link, .nav-item, .card-title, h5 {
    background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



footer {
    background: linear-gradient(to right,#00e0fe, #1107fe);
    color: #fff;
}

footer a {
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    padding: 10px;
}

u {
  text-decoration: underline;
}


